body {
    margin: 0;
    padding-top: 4%;
    padding-bottom: 3%;
    background-color: white;
    color: white;
}

section {
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 2em;
    margin-right: auto;
    max-width: 1200px;
    width: 95%;
    border-radius: 5px;
    background-color: #4B5F83;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    box-shadow: 0 6px 10px rgba(120, 120, 120, 0.75);
}

section:hover {
    box-shadow: 0 9px 13px rgba(120, 120, 120, 0.75);
}

section::after {
    content: '';
    display: block;
    clear: right;
}

section>p {
    margin: 0;
}

section>a {
    background-color: #4B5F83;
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 120%;
    border-top: 2px solid rgba(20, 20, 20, 0.125);
}

section>a:first-child {
    border-radius: 5px 5px 0px 0px;
    
}

section>a:last-child {
    border-radius: 0px 0px 5px 5px;
}

section>a:hover {
    color: white;
    text-decoration: none;
    background-color: #7289DA;
}

p>a {
    color: white;
    text-decoration: none;
}

p>a:hover {
    color: #4B5F83;
    text-decoration: none;
}

.features {
    padding: 15px;
    border-bottom: 2px solid rgba(20, 20, 20, 0.125);
    text-align: center;
}

.features:hover {
    background-color: #7289DA;
}

.features:first-child {
    border-radius: 5px 5px 0px 0px;
}

.features:first-child:hover {
    background-color: #4B5F83;
}

.features:last-child {
    border-radius: 0px 0px 5px 5px;
    border-bottom: 0;
}

.features>p {
    margin-bottom: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: 45%;
    max-width: 250px;
    max-height: 250px;
}

.discordbots {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 85%;
    max-width: 500px;
    max-height: 500px;
}

h1 {
    font-size: 250%;
    color: white;
}

h3 {
    color: white;
}

section>h2 {
    margin: 0;
}

footer {
    text-align: center;
    font-size: 85%;
    color: black;
    font-weight: bold;
}
@media only screen and (max-width: 1300px) {
    body {
        padding-top: 3%;
        padding-bottom: 3%;
    }
}

@media only screen and (max-width: 800px) {
    body {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    section>a {
        font-size: 125%;
    }

    h1 {
        font-size: 270%;
    }

    h3 {
        font-size: 140%;
    }

    p {
        font-size: 110%;
    }
}

@media only screen and (max-width: 600px) {
    section>a {
        font-size: 130%;
    }

    h1 {
        font-size: 290%;
    }

    h3 {
        font-size: 165%;
    }

    p {
        font-size: 125%;
    }
}
